:root {
    font-size: 20px;
}

body {
    display: grid;
    grid-template-columns: 1fr;
}


.wrapper {
    justify-self: center;
    width: 75vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.car-adder {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 16px;
    align-content: center;
    justify-items: center;
}

.car-adder-submit {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
}

input {
    width: 200px;
}

form>button {
    width: 100px;
    padding: 10px;
}

.display-buttons {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.display-buttons>button {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

button:hover {
    background: aqua;
    color: white;
}

.display-cars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
}


.carCard {
    outline: 2px solid blue;
    border-radius: 10px;
    background: linear-gradient(to right, white, aqua);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px;
    margin: 10px;
}

.table-buttons {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    border-radius: 10px;
}

.hide-table {
    width: 100px;
    padding: 10px;
}

.show-table {
    width: 100px;
    padding: 10px;
}

table.oilTable {
    align-self: center;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    width: 75vw;
}

table.oilTable.hidden {
    opacity: 0;
}